body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #549be2;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 20%;
}

.logo img {
    width: 80px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.titulo h1 {
    display: block; /* Alterado de "inline" para "block" */

}

nav {
    background-color: #f7f371;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #555;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 30%;
}
